$base-col: #231F20;
$red: #CE2A23;
$orange: #D9770B;

$grey5: #222;
$grey1: #555;
$grey2: #999;
$grey3: #ccc;
$grey4: #EEE;

$black: #000;

$b10: #E5E5E5;
$b30: #B2B2B2;
$b50: #7F7F7F;
$b70: #4C4C4C;

$green1: #349933;
$green2: #66BF96;
$blue1: #0084BC;

/*$con: #001f9e;
$lib: #aa1428;
$grn: #0b890b;
$ndp:  #ff7700;
$bq: #00affa;
$oth: #666;
*/

$con: #002596;
$lib: #D71920;
$grn: #3D9B35;
$ndp:  #F58220;
$bq: #3DA9DF;
$oth: #666;