

.gi-figure{
	padding: 0;
	margin: 0;
	margin-bottom: 2em;
}

.gi-quote-grp{
	display: block;
	position: relative;
	padding: 0.5em;
	padding-bottom: 1em;
}
.gi .gi-quote-grp blockquote:before {
	content:"“";
	font-size: 8rem;
	line-height: 0.2em;
	transform: translateY(2.5rem);
	float: left;
	width: 3.5rem;
	display: inline;
	color: $red;
}

.gi .gi-quote-grp blockquote {
	font-family: 'PrattItalic';
	padding: 0;
	margin: 0;
	display: inline-block;
	line-height: 1.6em;
}

.gi blockquote strong {
	font-family: 'PrattBold';
}

.gi strong {
	font-family: 'PrattHeavy';
	font-weight: normal
}

.gi-intro .gi-quote-grp{
	padding: 1em 0;
}

.gi-intro {

	margin-bottom: 1em;
}
.gi-intro h1{
	margin-bottom: 1rem;
}
.gi-intro h2{
	margin-top: 0;
}

.gi-chart-grp{
	margin: 2em 0;
}

.gi .chart-list{
	text-align: center;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 1rem 0;
	box-sizing:border-box;
	border-bottom: 1px dotted #999;
	border-top: 1px dotted #999;
}

.gi-rule{
	border: none;
	border-top: 2px dotted #ccc;
	
	margin: 0 30%;
}