// @import "fonts";
@import "colors";

body{
	padding: 0;
	margin: 0;
	font-family: 'Helvetica';
	background: #fff;
}

#container,#content_wrapper,#svgdataurl,#pngdataurl,#theCanvas{
	position: relative;
	width: 100%;
	height: auto;
	background: #fff;
}

.btn{
  margin: 10px;
  border-radius:5px;
  border:solid #999 1px;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.btn:hover{
  border:solid $grey4 1px;
}

#svg{
	margin: 0 auto;
	padding: 0;
	border:none;
}

div.target_child{
	background: #333!important;
	width: 400px;
	box-sizing: border-box;
	margin: 0;
	padding: 10px!important;
}


